<template>
  <div id="app">
    <a @click="changeRoute('/dashboard')">Dashboard</a>
     |
    <a @click="changeRoute('/wells')">Wells</a>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {

  },
  methods:{
    changeRoute(route){
      this.$router.push(route)
    }
  }
}
</script>

<style>
@import '~vue-awesome-notifications/dist/styles/style.css';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
