<template>
  <div class="hello">
    <select v-model="filterData.is_saved">
      <option value="0">не сохранено</option>
      <option value="1">сохранено</option>
    </select>
    <select v-model="filterData.field">
      <option value="0">Выберите месторождение</option>
      <option v-for="field in fields" v-bind:key="field.id" :value="field.id">{{field.name}}</option>
    </select>
    <select v-model="filterData.status">
      <option value="0">Выберите состояние</option>
      <option v-for="status in statuses" v-bind:key="status.id" :value="status.id">{{status.name}}</option>
    </select>
    <select v-model="filterData.type">
      <option value="0">Выберите тип скважины</option>
      <option v-for="type in types" v-bind:key="type.id" :value="type.id">{{type.name}}</option>
    </select>
    <select v-model="filterData.horizon">
      <option value="0">Выберите горизонт</option>
      <option v-for="horizon in horizons" v-bind:key="horizon.id" :value="horizon.id">{{horizon.name}}</option>
    </select>
    <select v-model="filterData.well" multiple>
      <option value="0">Выберите скважину</option>
      <option v-for="well in wells" v-bind:key="well.id" :value="well.id">{{well.well}}</option>
    </select>
    <a @click="updateCharts">Показать</a>
    <pie-chart class="pie" v-if="loadedBar" :chart-data="pieDataCollection"></pie-chart>
    <br>
    <bar-chart class="bar" v-if="loadedPie"  :chart-data="barDataCollection"></bar-chart>
  </div>
</template>

<script>
import axios from 'axios'
import pieChart from './charts/pieChart.js'
import barChart from './charts/barChart.js'

export default {
  name: 'dashboard',
  data() {
    return {
      filterData:{
        field: 0,
        status: 0,
        type: 0,
        horizon: 0,
        is_saved: 0,
        well: []
      },
      loadedBar: false,
      loadedPie: false,
      wells: [],
      fields: [],
      statuses: [],
      types: [],
      horizons: [],
      pieDataCollection: {},
      barDataCollection: {},
      debit: 0,
    }
  },
  components:{
    pieChart, barChart
  },
  mounted() {
    this.loadWells()
    this.loadRefs()
  },
  methods: {
    updateCharts(){
      let filterWells = this.wells

      if(parseInt(this.filterData.field)){
        filterWells = filterWells.filter(p => p.field_id === this.filterData.field)
      }
      if(parseInt(this.filterData.status !== 0)){
        filterWells = filterWells.filter(p => p.status_id === this.filterData.status)
      }
      if(parseInt(this.filterData.type !== 0)){
        filterWells = filterWells.filter(p => p.type_id === this.filterData.type)
      }
      if(parseInt(this.filterData.horizon !== 0)){
        filterWells = filterWells.filter(p => p.horizon_id === this.filterData.horizon)
      }
      if(this.filterData.well.length > 0 && parseInt(this.filterData.well[0]) !== 0){
        filterWells = filterWells.filter(p => this.filterData.well.includes(p.id))
      }

      filterWells = filterWells.filter(p => p.is_saved === parseInt(this.filterData.is_saved))

      this.fillPieData(filterWells)
      this.fillBarData(filterWells)
    },
    calculateDebit (wells) {
      let debit = 0;

      for(let i=0; i<wells.length; i++){
        debit += wells[i].debit;
      }
      return debit
    },
    preparePieData (wells, debit) {
      let data = [];
      for(let i=0; i<wells.length; i++){
        data.push(100*wells[i].debit/debit);
      }
      return data
    },
    async fillPieData (wells) {
      let debit = await this.calculateDebit(wells);
      let data = await this.preparePieData(wells, debit);
      let labels = wells.map(function(item) { return item["well"]; });

      this.pieDataCollection = {
        labels: labels,
        datasets: [
          {
            label: 'Wells',
            backgroundColor: this.getColor(wells.length),
            data: data
          }
        ]
      }
      this.loadedPie = true;
      this.$awn.success("Пай чарт готов")

    },
    fillBarData (wells) {
      let labels = wells.map(function(item) { return item["well"]; });
      let debits = wells.map(function(item) { return parseFloat(item["debit"]); });
      let qLiquids = wells.map(function(item) { return parseFloat(item["q_liquid"]); });
      let oilDensities = wells.map(function(item) { return parseFloat(item["oil_density"]); });
      let waterCuts = wells.map(function(item) { return parseFloat(item["water_cut"]); });

      this.barDataCollection = {
        labels: labels,
        datasets: [
          {
            label: 'Дебит',
            backgroundColor: this.getColor(wells.length, "green"),
            data: debits
          },
          {
            label: 'Q жидкость',
            backgroundColor: this.getColor(wells.length, "gray"),
            data: qLiquids
          },
          {
            label: 'Плотность нефти',
            backgroundColor: this.getColor(wells.length, "blue"),
            data: oilDensities
          },
          {
            label: 'Обводненность',
            backgroundColor: this.getColor(wells.length, "red"),
            data: waterCuts
          },
        ]
      }

      this.loadedBar = true;
      this.$awn.success("Бар чарт готов")
    },
    loadWells() {
      axios.get('http://kmgi.lcl/api/wells')
          .then((res) => {
            this.wells = res.data.wells
            this.fillPieData(res.data.wells.filter(p => p.is_saved === this.filterData.is_saved))
            this.fillBarData(res.data.wells.filter(p => p.is_saved === this.filterData.is_saved))
          })
          .catch((err) => {
            console.log(err)
          })
    },
    getColor(count, color = null){
      let array = [];

      for (let i=0; i < count; i++){
        array.push(color?color:`#${Math.floor(100000 + Math.random() * 900000)}`)
      }

      return array;
    },
    loadRefs() {
      this.loadFields()
      this.loadStatuses()
      this.loadTypes()
      this.loadHorizons()
    },
    loadFields() {
      axios.get('http://kmgi.lcl/api/fields')
          .then((res) => {
            this.fields = res.data.fields
          })
          .catch((err) => {
            console.log(err)
          })
    },
    loadStatuses() {
      axios.get('http://kmgi.lcl/api/statuses')
          .then((res) => {
            this.statuses = res.data.statuses
          })
          .catch((err) => {
            console.log(err)
          })
    },
    loadTypes() {
      axios.get('http://kmgi.lcl/api/types')
          .then((res) => {
            this.types = res.data.types
          })
          .catch((err) => {
            console.log(err)
          })
    },
    loadHorizons() {
      axios.get('http://kmgi.lcl/api/horizons')
          .then((res) => {
            this.horizons = res.data.horizons
          })
          .catch((err) => {
            console.log(err)
          })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pie{
  width: 30%;
}
.bar{
  width: 100%;
}
</style>
