<template>
  <div>
    <div>
      <label for="field_id">Месторожение</label>
      <select v-model="well.field_id" id="field_id">
        <option v-for="field in fields" v-bind:key="field.id" :value="field.id">{{field.name}}</option>
      </select>
    </div>
    <div>
      <label for="well">Скважина</label>
      <input v-model="well.well" id="well" />
    </div>
    <div>
      <label for="status_id">Cостояние</label>
      <select v-model="well.status_id" id="status_id">
        <option value="0">Выберите состояние</option>
        <option v-for="status in statuses" v-bind:key="status.id" :value="status.id">{{status.name}}</option>
      </select>
    </div>
    <div>
      <label for="type_id">Тип скважины</label>
      <select v-model="well.type_id" id="type_id">
        <option v-for="type in types" v-bind:key="type.id" :value="type.id">{{type.name}}</option>
      </select>
    </div>
    <div>
      <label for="horizon_id">Горизонт</label>
      <select v-model="well.horizon_id" id="horizon_id">
        <option v-for="horizon in horizons" v-bind:key="horizon.id" :value="horizon.id">{{horizon.name}}</option>
      </select>
    </div>
    <div>
      <label for="well">Q жидкость</label>
      <input v-model="well.q_liquid" id="q_liquid" />
    </div>
    <div>
      <label for="water_cut">Обводненность</label>
      <input v-model="well.water_cut" id="water_cut" />
    </div>
    <div>
      <label for="oil_density">Плотность нефти</label>
      <input v-model="well.oil_density" id="oil_density" />
    </div>
    <div>
      <label for="debit">Дебит нефти</label>
      <input v-model="well.debit" id="debit" />
    </div>
    <div>
      <label for="is_saved">Сохранено</label>
      <input type="checkbox" v-model="well.is_saved" id="is_saved" />
    </div>
    <div>
      <a v-if="create" @click="createWell">Создать</a>
      <a v-else @click="updateWell">Изменить</a>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "wellForm",
  data() {
    return {
      well: {
        id: 0,
        well: null,
        field_id: null,
        type_id: null,
        status_id: null,
        horizon_id: null,
        q_liquid: null,
        water_cut: null,
        oil_density: null,
        debit: null,
        is_saved: 0,
      },
      fields: [],
      statuses: [],
      types: [],
      horizons: [],
      create: true,
      errors: []
    }
  },
  mounted() {
    if(this.$route.params.id ){
      this.well.id = this.$route.params.id
      this.loadWell()
      this.create = false
    }
    this.loadRefs()
  },
  methods:{
    showErrors(){
      let keys = Object.keys( this.errors );

      let message = "Заполните: ";
      for (let i=0; i<keys.length; i++) {
        message += `<br> ${keys[i]}`
      }

      this.$awn.alert(message)
    },
    loadWell() {
      axios.get(`http://kmgi.lcl/api/well/${this.well.id }`)
          .then((res) => {
            if(res.data.success){
              this.well = res.data.well
            }
          })
          .catch((err) => {
            console.log(err)
          })
    },
    createWell() {
      axios.post(`http://kmgi.lcl/api/well`, this.well)
          .then((res) => {
            console.log(res)
            if(res.data.success){
              this.$awn.success('Сохранено')
              this.changeRoute('/wells')
            }
          })
          .catch((err) => {
            this.errors = err.response.data.errors
            this.showErrors()
          })
    },
    updateWell() {
      axios.post(`http://kmgi.lcl/api/well/${this.well.id}`, this.well)
          .then((res) => {
            if(res.data.success){
              this.$awn.success('Изменено')
              this.changeRoute('/wells')
            }else{
              console.log(res.data)
            }
          })
          .catch((err) => {
            console.log(err)
          })
    },
    loadRefs() {
      this.loadFields()
      this.loadStatuses()
      this.loadTypes()
      this.loadHorizons()
    },
    loadFields() {
      axios.get('http://kmgi.lcl/api/fields')
          .then((res) => {
            this.fields = res.data.fields
          })
          .catch((err) => {
            console.log(err)
          })
    },
    loadStatuses() {
      axios.get('http://kmgi.lcl/api/statuses')
          .then((res) => {
            this.statuses = res.data.statuses
          })
          .catch((err) => {
            console.log(err)
          })
    },
    loadTypes() {
      axios.get('http://kmgi.lcl/api/types')
          .then((res) => {
            this.types = res.data.types
          })
          .catch((err) => {
            console.log(err)
          })
    },
    loadHorizons() {
      axios.get('http://kmgi.lcl/api/horizons')
          .then((res) => {
            this.horizons = res.data.horizons
          })
          .catch((err) => {
            console.log(err)
          })
    },
    changeRoute(route){
      this.$router.push(route)
    }
  }
}
</script>

<style scoped>

</style>
