<template>
  <div class="hello">
    <a @click="changeRoute('/well/create')">Создать</a>
    <table >
      <tr >
        <td>Месторождение</td>
        <td>Скважина</td>
        <td>Тип скважины</td>
        <td>Состояние скважины</td>
        <td>Горизонт</td>
        <td>Q жидкости</td>
        <td>Обводненность</td>
        <td>Плотность нефти</td>
        <td>Дебит нефти</td>
        <td>Сохранено</td>
        <td>Действие</td>
      </tr>
      <tr v-for="well in wells" v-bind:key="well.id" >
        <td>{{well.field.name}}</td>
        <td>{{well.well}}</td>
        <td>{{well.type.name}}</td>
        <td>{{well.status.name}}</td>
        <td>{{well.horizon.name}}</td>
        <td>{{well.q_liquid}}</td>
        <td>{{well.water_cut}}</td>
        <td>{{well.oil_density}}</td>
        <td>{{well.debit}}</td>
        <td>{{well.is_saved?"Да":"Нет"}}</td>
        <td>
          <a @click="changeRoute(`/well/update/${well.id}`)">Изменить</a>
           |
          <a @click="deleteWell(well.id)">Удалить</a>
            |
          <a  @click="saveWell(well.id)">{{well.is_saved ? "Убрать": "Сохранить"}}</a>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'dashboard',
  data() {
    return {
      wells: []
    }
  },
  mounted() {
    this.loadWells()
  },
  methods: {
    loadWells() {
      axios.get('http://kmgi.lcl/api/wells')
          .then((res) => {
            this.wells = res.data.wells
          })
          .catch((err) => {
            console.log(err)
          })
    },
    deleteWell(id) {
      axios.delete(`http://kmgi.lcl/api/well/${id}`)
          .then((res) => {
            if(res.data.success){
              this.loadWells()
            }
          })
          .catch((err) => {
            console.log(err)
          })
    },
    saveWell(id) {
      axios.post(`http://kmgi.lcl/api/well/${id}/save`)
          .then((res) => {
            if(res.data.success){
              this.loadWells()
              this.$awn.success('Изменено')
            }
          })
          .catch((err) => {
            this.$awn.alert('Ошибка')
            console.log(err)
          })
    },
    changeRoute(route){
      this.$router.push(route)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pie{
  width: 30%;
}
.bar{
  width: 100%;
}
</style>
